#editor-holder {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 7rem);
  margin-bottom: 2rem;
  overflow-y: scroll;
  padding: 0 2rem 2rem 2rem;
}
