#editor-holder {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 7rem);
  margin-bottom: 2rem;
  overflow-y: scroll;
  padding: 0 2rem 2rem 2rem;
}
#editor-holder1 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  width: 100%;
  max-height: 80%;
  margin-bottom: 2rem;
  overflow-y: scroll;
  padding: 0 2rem 2rem 2rem;
}
.save-reminder {
  opacity: 1;
  transition:
    opacity 0.5s ease,
    filter 0.5s ease;
}

.save-reminder.hide {
  opacity: 0;
  filter: blur(4px);
}
